# Project 01 - Write a Data Science Blog Post

## Part 1: Data Cleaning

### Data
 - NBA 2018-2019 Player Box Scores 
 - NBA 2018-2019 Daily Fantasy Scores (DFS)
 
### Business Questions
1. What are the key drivers for top fantasy scores?
2. What positions offer the most value from a fantasy score perspective?
3. What trends can be observed during the NBA season from a fantasy score perspective?

### Import Packages

In [1]:
import numpy as np
import pandas as pd

# Use 2 decimal places in output display
pd.options.display.float_format = "{:,.2f}".format

#### Helper Function

In [2]:
def export_data(data, file_name, dummy_var=False):
    """
    Exports data to a CSV in the directory's data folder.
    
    If dummy_var = True, the function creates dummy variables
    of the columns that are objects in dataframe.
    
    This process uses One-Hot Encoding to create unique
    columns for each categorical variables' values.
    """
    if dummy_var:
        cat_df = data.select_dtypes(include='object')
        dummy_cat_df = pd.get_dummies(cat_df)
        
        # Concatenate the dummied columns into the main dataframe
        cat_cols = list(cat_df.columns.values)
        data = data.drop(cat_cols, axis=1)

        df_dummy = pd.concat([data, dummy_cat_df], axis=1)
        df_dummy.to_csv("../data/{}.csv".format(file_name))
        
        return print("File saved.")
    
    else:
        data.to_csv("../data/{}.csv".format(file_name))
        return print("File saved.")

### Import Data

#### Player Box Scores Dataset

In [3]:
# Import Player stats data
stats = pd.read_excel('../data/NBA-18-19-Player-BoxScore.xlsx', sheet_name='NBA-2018-19-PLAYER')

# Data Cleaning
stats.head(3)

,DATASET,GAME-ID,DATE,PLAYER-ID,PLAYER \nFULL NAME,POSITION,OWN \nTEAM,OPPONENT \nTEAM,VENUE\n(R/H),STARTER\n(Y/N),...,DR,TOT,A,PF,ST,TO,BL,PTS,USAGE \nRATE (%),DAYS\nREST
0,NBA 2018-2019 Regular Season,21800001,10/16/2018,203967,Dario Saric,F,Philadelphia,Boston,R,Y,...,6,6,1,5,0,3,0,6,20.38,3+
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,203496,Robert Covington,F,Philadelphia,Boston,R,Y,...,5,6,0,1,2,2,1,8,14.88,3+
2,NBA 2018-2019 Regular Season,21800001,10/16/2018,203954,Joel Embiid,F-C,Philadelphia,Boston,R,Y,...,8,10,2,3,1,5,2,23,32.50,3+

In [4]:
stats.columns

Index(['DATASET', 'GAME-ID', 'DATE', 'PLAYER-ID', 'PLAYER \nFULL NAME',
       'POSITION', 'OWN \nTEAM', 'OPPONENT \nTEAM', 'VENUE\n(R/H)',
       'STARTER\n(Y/N)', 'MIN', 'FG', 'FGA', '3P', '3PA', 'FT', 'FTA', 'OR',
       'DR', 'TOT', 'A', 'PF', 'ST', 'TO', 'BL', 'PTS', 'USAGE \nRATE (%)',
       'DAYS\nREST'],
      dtype='object')

#### Daily Fantasy Score (DFS) Dataset

In [5]:
# Import DFS data
dfs = pd.read_excel('../data/NBA-18-19-DFS.xlsx', sheet_name='NBA-2018-19-DFS')
dfs.head(3)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,POSITION,Unnamed: 13,Unnamed: 14,SALARY ($),Unnamed: 16,Unnamed: 17,FANTASY POINTS SCORED,Unnamed: 19,Unnamed: 20
0,DATASET,GAME ID,DATE,PLAYER ID,PLAYER,OWN\nTEAM,OPPONENT\nTEAM,STARTER (Y/N),VENUE (R/H),MINUTES,...,DAYS\nREST,DRAFTKINGS,FANDUEL,YAHOO,"DRAFTKINGS\n""Classic""\nGame Style","FANDUEL\n""Full Roster""\nGame Style","YAHOO\n""Full Slate""\nGame Style",DRAFTKINGS,FANDUEL,YAHOO
1,NBA 2018-2019 Regular Season,0021800001,10/16/2018,203967,Dario Saric,Philadelphia,Boston,Y,R,22.90,...,3+,SF/PF,PF,PF,5500,6400,25,13.50,11.70,11.70
2,NBA 2018-2019 Regular Season,0021800001,10/16/2018,203496,Robert Covington,Philadelphia,Boston,Y,R,34.22,...,3+,SF/PF,SF,SF,4700,6500,23,21.50,22.20,22.20

In [6]:
# Update column headers
# Position
dfs.iloc[0,12] = 'DRAFTKINGS_POSITION'
dfs.iloc[0,13] = 'FANDUEL_POSITION'
dfs.iloc[0,14] = 'YAHOO_POSITION'

# Salary
dfs.iloc[0,15] = "DRAFTKINGS_CLASSIC_SALARY"
dfs.iloc[0,16] = "FANDUEL_FULLROSTER_SALARY"
dfs.iloc[0,17] = "YAHOO_FULLSLATE_SALARY"

# Fantasy Points Scored
dfs.iloc[0,18] = "DRAFTKINGS_FANTASYPOINTS"
dfs.iloc[0,19] = "FANDUEL_FANTASYPOINTS"
dfs.iloc[0,20] = "YAHOO_FANTASYPOINTS"

# Reformat columns and headers
dfs.columns = dfs.iloc[0]
dfs = dfs[1:]

# Rename the GAME-ID column
dfs = dfs.rename(columns={"GAME ID":"GAME-ID", 
                          "PLAYER ID":"PLAYER-ID"})

# Convert Data types
convert_dict = {
    "GAME-ID": int,
    "PLAYER-ID": int
}

dfs = dfs.astype(convert_dict)

# Preview
dfs.head(3)

,DATASET,GAME-ID,DATE,PLAYER-ID,PLAYER,OWN\nTEAM,OPPONENT\nTEAM,STARTER (Y/N),VENUE (R/H),MINUTES,...,DAYS\nREST,DRAFTKINGS_POSITION,FANDUEL_POSITION,YAHOO_POSITION,DRAFTKINGS_CLASSIC_SALARY,FANDUEL_FULLROSTER_SALARY,YAHOO_FULLSLATE_SALARY,DRAFTKINGS_FANTASYPOINTS,FANDUEL_FANTASYPOINTS,YAHOO_FANTASYPOINTS
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,203967,Dario Saric,Philadelphia,Boston,Y,R,22.90,...,3+,SF/PF,PF,PF,5500,6400,25,13.50,11.70,11.70
2,NBA 2018-2019 Regular Season,21800001,10/16/2018,203496,Robert Covington,Philadelphia,Boston,Y,R,34.22,...,3+,SF/PF,SF,SF,4700,6500,23,21.50,22.20,22.20
3,NBA 2018-2019 Regular Season,21800001,10/16/2018,203954,Joel Embiid,Philadelphia,Boston,Y,R,36.82,...,3+,C,C,C,8800,10400,41,44,42,42

### Merge Datasets

In [7]:
df = pd.merge(dfs, stats, on=['GAME-ID', 'PLAYER-ID'])
df.head()

,DATASET_x,GAME-ID,DATE_x,PLAYER-ID,PLAYER,OWN\nTEAM,OPPONENT\nTEAM,STARTER (Y/N),VENUE (R/H),MINUTES,...,DR,TOT,A,PF,ST,TO,BL,PTS,USAGE \nRATE (%),DAYS\nREST_y
0,NBA 2018-2019 Regular Season,21800001,10/16/2018,203967,Dario Saric,Philadelphia,Boston,Y,R,22.90,...,6,6,1,5,0,3,0,6,20.38,3+
1,NBA 2018-2019 Regular Season,21800001,10/16/2018,203496,Robert Covington,Philadelphia,Boston,Y,R,34.22,...,5,6,0,1,2,2,1,8,14.88,3+
2,NBA 2018-2019 Regular Season,21800001,10/16/2018,203954,Joel Embiid,Philadelphia,Boston,Y,R,36.82,...,8,10,2,3,1,5,2,23,32.50,3+
3,NBA 2018-2019 Regular Season,21800001,10/16/2018,1628365,Markelle Fultz,Philadelphia,Boston,Y,R,24.33,...,3,3,2,1,1,3,0,5,18.98,3+
4,NBA 2018-2019 Regular Season,21800001,10/16/2018,1627732,Ben Simmons,Philadelphia,Boston,Y,R,42.73,...,12,15,8,5,4,3,2,19,21.25,3+

### Data Cleaning

In [8]:
# Drop redundant columns
del_cols = ['DATASET_y', 'DATE_y', 'DAYS\nREST_y', 
            'OPPONENT \nTEAM', 'OWN \nTEAM', 
            'PLAYER \nFULL NAME', 'STARTER\n(Y/N)', 
            'USAGE \nRATE (%)', 'VENUE\n(R/H)', 'MIN']

df = df.drop(del_cols, axis=1)

# Reformat column headers
df.columns = [value.replace('_x','').replace('\n','') for value in df.columns]

# Convert Data types: Ints and Floats
convert_dict = {
    "MINUTES": float,
    "DRAFTKINGS_CLASSIC_SALARY": float,
    "FANDUEL_FULLROSTER_SALARY": float,
    "YAHOO_FULLSLATE_SALARY": float,
    "DRAFTKINGS_FANTASYPOINTS": float,
    "FANDUEL_FANTASYPOINTS": float,
    "YAHOO_FANTASYPOINTS": float,
    "USAGE RATE": float
}

df = df.astype(convert_dict)

# Convert Data types: Datetime
df['DATE'] = pd.to_datetime(df['DATE'])

# Clean the 'string' value in the DAYSREST column (3+ to 4)
df.DAYSREST = df.DAYSREST.replace(to_replace='3+', value=4)

#### Handle Missing Values

In [9]:
# Determine which variables have missing values (Position & Salary)
df.isnull().sum().sort_values(ascending=False)

DRAFTKINGS_CLASSIC_SALARY    981
DRAFTKINGS_POSITION          981
POSITION                     617
FANDUEL_FULLROSTER_SALARY    330
FANDUEL_POSITION             330
YAHOO_POSITION               256
YAHOO_FULLSLATE_SALARY       256
MINUTES                        0
DAYSREST                       0
USAGE RATE                     0
PTS                            0
STARTER (Y/N)                  0
OPPONENTTEAM                   0
OWNTEAM                        0
PLAYER                         0
PLAYER-ID                      0
DATE                           0
GAME-ID                        0
VENUE (R/H)                    0
DRAFTKINGS_FANTASYPOINTS       0
BL                             0
OR                             0
TO                             0
ST                             0
PF                             0
A                              0
TOT                            0
DR                             0
FTA                            0
FANDUEL_FANTASYPOINTS          0
FT                             0
3PA                            0
3P                             0
FGA                            0
FG                             0
YAHOO_FANTASYPOINTS            0
DATASET                        0
dtype: int64

##### Position Columns

Inspecting the position columns, it seems that "YAHOO_POSITION" has the least amount of missing values. I will use it as my primary position column and fill it with values from the other columns.

In [10]:
# Missing Values in the Position Columns
position_df = df.filter(regex=("POSITION"))

# "YAHOO_POSITION" will serve as my primary Position column (since it has the least missing values) 
position_df.isnull().sum().sort_values(ascending=False)

DRAFTKINGS_POSITION    981
POSITION               617
FANDUEL_POSITION       330
YAHOO_POSITION         256
dtype: int64

In [11]:
# Fill any "YAHOO_POSITION" missing values with values from the other position columns
position_df["POSITION_NEW"] = position_df["YAHOO_POSITION"].fillna(position_df["POSITION"])

<ipython-input-11-c80b63b47d30>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  position_df["POSITION_NEW"] = position_df["YAHOO_POSITION"].fillna(position_df["POSITION"])

In [12]:
position_df.isnull().sum()

DRAFTKINGS_POSITION    981
FANDUEL_POSITION       330
YAHOO_POSITION         256
POSITION               617
POSITION_NEW             8
dtype: int64

In [13]:
# Inspecting the missing values left, it seems substituting a position from the other columns is not a full-proof solution
position_df[5819:5820]

     DRAFTKINGS_POSITION FANDUEL_POSITION YAHOO_POSITION POSITION POSITION_NEW
5819                 NaN              NaN            NaN      NaN          NaN

In [14]:
# Because of this, I will handle the last missing values by using an "Unknown" as a value
position_df["POSITION_NEW"] = position_df["POSITION_NEW"].fillna("Unknown")

<ipython-input-14-86eb3fa3a087>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  position_df["POSITION_NEW"] = position_df["POSITION_NEW"].fillna("Unknown")

In [15]:
# I will combine the two 'F-G' and 'G-F' as one value, and 'F-C' and 'C-F' as one value
position_df["POSITION_NEW"].replace({'F-G':'G-F',
                                     'C-F':'F-C'}, inplace=True)

/Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages/pandas/core/generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [16]:
# Remove the old position columns
position_cols = list(position_df.columns.values)
position_cols.remove('POSITION_NEW')
df = df.drop(position_cols, axis=1)

# Concatenate only the newly filled position column with main dataframe
df = pd.concat([df, position_df['POSITION_NEW']], axis=1)

In [17]:
# Rename the position column
df = df.rename(columns={"POSITION_NEW":"POSITION"})

##### Salary Columns

In [18]:
# Missing values in the Salary columns
salary_df = df.filter(regex=("SALARY"))

In [21]:
salary_df.describe()

,DRAFTKINGS_CLASSIC_SALARY,FANDUEL_FULLROSTER_SALARY,YAHOO_FULLSLATE_SALARY
count,"26,874.00","27,525.00","27,599.00"
mean,"4,741.43","5,161.64",16.80
std,"1,866.29","1,983.68",10.09
min,"2,500.00","3,500.00",10.00
25%,"3,300.00","3,500.00",10.00
50%,"4,100.00","4,400.00",11.00
75%,"5,700.00","6,200.00",20.00
max,"13,800.00","14,300.00",64.00

** Note **
- Inspecting the descriptive statistics of these columns, it may make sense to use the Median of the columns instead of the Mean.
- This is because the max salaries (usually reserved for few star players) represent outliers in the dataset. 
- The outliers do not affect the Median values as they would the Mean values.

In [ ]:
# Fill all missing values in Salary with the median of the column
fill_median = lambda col: col.fillna(col.median())

salary_df = salary_df.apply(fill_median, axis=0)

In [ ]:
# Confirm that the missing values are filled
salary_df.isnull().sum().sort_values(ascending=False)

In [ ]:
# Remove the old salary columns
salary_cols = list(salary_df.columns.values)
df = df.drop(salary_cols, axis=1)

# Concatenate the newly filled position columns with main dataframe
df = pd.concat([df, salary_df], axis=1)

### Export to CSV

In [ ]:
# Export cleaned data
export_data(df, file_name='Cleaned_NBA1819_PlayerStats-DFS')

In [ ]:
# Export cleaned data with dummy variables
export_data(df, file_name='Cleaned-Dummies_NBA1819_PlayerStats-DFS', dummy_var=True)